{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
.hero-spotlight__text.banner__box {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 16px !important;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12) !important;
  background-image: none !important;
}
{%- endstyle -%}

{%- if section.settings.slide_height == 'adapt_image' and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Hero-{{ section.id }}::before,
      #Hero-{{ section.id }} .media::before,
      #Hero-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Hero-{{ section.id }}::before,
      #Hero-{{ section.id }} .media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

<div
  class="hero-spotlight banner banner--{{ section.settings.slide_height }} grid grid--1-col{% if section.settings.show_text_below %} banner--mobile-bottom{% endif %}{% if section.settings.image == blank %} hero-spotlight--placeholder{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
  id="Hero-{{ section.id }}"
>
  <style>
    #Hero-{{ section.id }} .banner__media::after {
      opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
    }
  </style>
  <div
    class="hero-spotlight__slide grid__item grid--1-col"
    id="Hero-{{ section.id }}-1"
    role="group"
    aria-roledescription="Hero Spotlight"
    aria-label="1 of 1"
    tabindex="-1"
  >
    <div class="hero-spotlight__media banner__media media{% if section.settings.image == blank %} placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}">
      {%- if section.settings.image -%}
        {%- liquid
          assign height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round
          if section.settings.image_behavior == 'ambient'
            assign sizes = '120vw'
            assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
          else
            assign sizes = '100vw'
            assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
          endif
          assign fetch_priority = 'high'
        -%}
        {{
          section.settings.image
          | image_url: width: 3840
          | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
        }}
      {%- else -%}
        {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>
    <div class="hero-spotlight__text-wrapper banner__content banner__content--{{ section.settings.box_align }} page-width{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="hero-spotlight__text banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient hero-spotlight__text--{{ section.settings.text_alignment }} hero-spotlight__text-mobile--{{ section.settings.text_alignment_mobile }}">
        {%- if section.settings.heading != blank -%}
          <h2 class="banner__heading inline-richtext {{ section.settings.heading_size }}">
            {{ section.settings.heading }}
          </h2>
        {%- endif -%}
        {%- if section.settings.subheading != blank -%}
          <div class="banner__text rte">
            <p>{{ section.settings.subheading }}</p>
          </div>
        {%- endif -%}
        {%- if section.settings.button_label != blank -%}
          <div class="banner__buttons">
            <a
              {% if section.settings.link %}
                href="{{ section.settings.link }}"
              {% else %}
                role="link" aria-disabled="true"
              {% endif %}
              class="button {% if section.settings.button_style_secondary %}button--secondary{% else %}button--primary{% endif %}"
            >
              {{- section.settings.button_label | escape -}}
            </a>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "Hero Spotlight",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.slideshow.settings.slide_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.slideshow.settings.slide_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.slideshow.settings.slide_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.slideshow.settings.slide_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.slideshow.settings.slide_height.label"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.mobile.content"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "label": "t:sections.slideshow.settings.show_text_below.label",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.slideshow.blocks.slide.settings.image.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.slideshow.blocks.slide.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.blocks.slide.settings.header_text.content"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.slideshow.blocks.slide.settings.heading.default",
      "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "default": "t:sections.slideshow.blocks.slide.settings.subheading.default",
      "label": "t:sections.slideshow.blocks.slide.settings.subheading.label"
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.blocks.slide.settings.header_button.content"
    },        
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.slideshow.blocks.slide.settings.button_label.default",
      "label": "t:sections.slideshow.blocks.slide.settings.button_label.label", 
      "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.slideshow.blocks.slide.settings.link.label"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.blocks.slide.settings.header_layout.content"
    },         
    {
      "type": "checkbox",
      "id": "show_text_box",
      "label": "t:sections.slideshow.blocks.slide.settings.show_text_box.label",
      "default": true
    },
    {
      "type": "select",
      "id": "box_align",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.slideshow.blocks.slide.settings.box_align.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_2.label"
        },
        {
          "value": "right",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.label"
    },
    {
      "type": "select",
      "id": "text_alignment_mobile",
      "options": [
        {
          "value": "left",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.label"
    },        
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Hero Spotlight",
      "category": "Bilder"
    }
  ]
}
{% endschema %}